version: '3.3'
services:
  deployment_api:
    image: registry.nexdev.net:5050/nexcel/nexops/deployment-api:{{env}}-latest
    ports:
      - published: 22222
        target: 22222
        mode: "ingress"
    deploy:
      mode: replicated
      replicas: 6
    networks:
      - swarm_nexops
networks:
  swarm_nexops:
    external: true
