version: '3.3'
services:
  deployment_api:
    image: registry.nexdev.net:5050/nexcel/nexops/deployment-api:latest
    ports:
      - published: 22222
        target: 22222
        mode: "host"
    deploy:
      mode: global
    networks:
      - swarm_nexops
networks:
  swarm_nexops:
    external: true
